<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/Artists.css">
    <link rel="stylesheet" href="public/Base.css">
    <title>Artists Page</title>
</head>
<body>

<header>
    <div class="navbar-fixed">
        <img src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/50/000000/external-shop-sales-vitaliy-gorbachev-fill-vitaly-gorbachev.png"
             id="shop" alt="Shop SVG"/>
        <span id="Tittle">Groupie-Tracker</span>


        <form method="POST" id="form">
            <label for="Search"></label><input type="search" id="Search" name="wizards" list="wizards-list"
                                               placeholder="Search on the website" autocomplete="off" autofocus>

            <input type="submit" id="SearchButton" value="?">
        </form>

        <datalist id="wizards-list">
            {{range $artists := .ToDisplay}}
                {{range $key, $value := $artists.Members}}
                    <option value="{{$value}}">Members of the group : {{$artists.Name}}</option>
                {{end}}
            {{end}}

            {{range $key5, $value5 := .ToDisplay}}
                <option value="{{$value5.CreationDate}}">Group creation date : {{$value5.Name}}</option>
                <option value="{{$value5.FirstAlbum}}">Debut album release date : {{$value5.Name}}</option>
            {{end}}

            {{range $Loc := .Location.Index}}
                {{range $key10, $value10 := $Loc.Locations}}
                    <option value="{{$value10}}">Location of concert : </option>
                {{end}}
            {{end}}
        </datalist>

        <img src="https://img.icons8.com/ios-glyphs/30/000000/shopping-cart--v1.png" id="Cart" alt=""/>
    </div>

    <div class="subnavbar">
        <ul>
            <li class="list"><a href="/">Home</a></li>
            <li class="list"><a href="/artist">See the Artists</a></li>
            <li class="list"><a href="/credit">Credit</a></li>
            <li class="list"><a href="https://ytrack.learn.ynov.com/intra/toulouse/module-tls/groupie-tracker">The
                    Project</a></li>
            <li class="list"><a href="#">Contact</a></li>
        </ul>
    </div>
</header>


<div class="grid">
    {{range $artists := .ToDisplay}}
        <div class="gridchild">
            <img class="img" src="{{$artists.Image}}" alt="">
            <a href="/artist/{{$artists.Id}}" class="parentA">See More</a>
        </div>
    {{end}}
</div>




</body>
</html>
