<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/Artists.css">
    <link rel="stylesheet" href="public/Base.css">
    <title>Artists Page</title>
</head>
<body>

<header>
    <div class="navbar-fixed">
        <span id="Tittle">Groupie-Tracker</span>

        <form method="POST" id="form">
            <label for="Search"></label><input type="search" id="Search" name="wizards" list="wizards-list"
                                               placeholder="Search on the website" autocomplete="off" autofocus>

            {{/*            <input type="submit" id="SearchButton" value="?">*/}}

            <div class="toWrap">
                <p id="CarrierYears">Carrier Starting Years</p>
                <label>
                    <input type="range" placeholder="Choose MIN Creation-Date" class="TextPad" id="r" min="1900"
                           max="2022" value="1999" name="range">
                </label>
                <p id="CarrierYears2">1999</p>
            </div>
            <p id="nMembers">N° Members : </p>

            <div class="toWrap2">

                <label>
                    1
                    <input type="checkbox" id="1" name="1" value="false">
                </label>

                <label>
                    2
                    <input type="checkbox" id="2" name="2" value="false">
                </label>

                <label>
                    3
                    <input type="checkbox" id="3" name="3" value="false">
                </label>

                <label>
                    4
                    <input type="checkbox" id="4" name="4" value="false">
                </label>

                <label>
                    5
                    <input type="checkbox" id="5" name="5" value="false">
                </label>

                <label>
                    6
                    <input type="checkbox" id="6" name="6" value="false">
                </label>

            </div>

            <div id="ParentCredit">
                <input type="submit" id="InputCredit" value="Submit Change">
            </div>

        </form>

        <datalist id="wizards-list">

            {{range $artists := .ToDisplay}}
                {{range $key, $value := $artists.Members}}
                    <option value="{{$value}}">Members of the group : {{$artists.Name}}</option>
                {{end}}
            {{end}}

            {{range $key5, $value5 := .ToDisplay}}
                <option value="{{$value5.CreationDate}}">Group creation date : {{$value5.Name}}</option>
                <option value="{{$value5.FirstAlbum}}">Debut album release date : {{$value5.Name}}</option>
            {{end}}

            {{/*            {{range  $test := .Arralocation}}*/}}
            {{/*                <option value="{{$test}}"></option>*/}}
            {{/*            {{end}}*/}}

        </datalist>

    </div>

    <div class="subnavbar">
        <ul>
            <li class="list"><a href="/">Home</a></li>
            <li class="list"><a href="/artist">See the Artists</a></li>
            <li class="list"><a href="/credit">Credit</a></li>
            <li class="list"><a href="https://ytrack.learn.ynov.com/intra/toulouse/module-tls/groupie-tracker">The
                    Project</a></li>
            <li class="list"><a href="#">Contact</a></li>
        </ul>
    </div>
</header>


<div class="grid">
    {{range $artists := .ToDisplay}}
        <div class="gridchild">
            <img class="img" src="{{$artists.Image}}" alt="">
            <a href="/artist/{{$artists.Id}}" class="parentA">See More</a>
        </div>
    {{end}}
</div>


<script src="script/artists.js"></script>
</body>
</html>
