* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #200122; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6f0000, #200122); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-fixed {
    width: 100%;
    height: 75px;
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-fixed #shop {
    position: relative;
    right: 150px;
    width: 50px;
    height: 50px;
}

.navbar-fixed #Tittle {
    position: relative;
    color: white;
    font-size: 2.5rem;
    right: 80px;
}

.navbar-fixed #Search {
    position: relative;
    left: 30px;
    border-radius: 8px;
    height: 50px;
    width: 650px;
}

.navbar-fixed #SearchButton {
    position: relative;
    left: 15px;
    height: 52px;
    width: 58px;
    border-radius: 8px;
}

.navbar-fixed #Cart {
    position: relative;
    left: 150px;
    width: 50px;
    height: 50px;
}

.subnavbar {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subnavbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.subnavbar ul li {
    position: relative;
    list-style: none;
    margin: 50px;
}

.subnavbar ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1.5rem;
}

.grid {
    margin-top: 40px;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: max-content;
    row-gap: 100px;
}

.img {
    width: 95%;
    border-radius: 25px;
    transition: all 1s;
}

.gridchild {
    position: relative;
}

.gridchild .parentA {
    right: 60px;
    bottom: -55px;
    position: absolute;
    color: white;
    font-family: lato, sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.1em;
    border: 3px solid #ffffff;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    border-radius: 25px;
    transition: opacity 350ms ease;
    z-index: 10;
    opacity: 0;
}


.gridchild .img:hover {
    transform: scale(1.15);
}

.gridchild:hover::after,
.gridchild .parentA {
    opacity: 1;
    transition: opacity 350ms ease-in-out;
    transition-delay: 1s;
}

/*.gridchild::after {*/
/*    display: block;*/
/*    pointer-events: all;*/
/*    content: '';*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    height: 60px;*/
/*    border-radius: 25px;*/
/*    width: 95%;*/
/*    bottom: -72px;*/
/*    left: 0;*/
/*    background-color: rgba(0, 0, 0, 0.5);*/
/*    cursor: default;*/
/*}*/
